/* Genel stil */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}

.container {
  background-color: #111;
  border: 2px solid #444;
  border-radius: 12px;
  padding: 40px 30px;
  max-width: 900px; /* Eski 500px'den 900px'e çıkardım */
  width: 100%;
  text-align: center;
  box-shado
